/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

h2 {
    color: #e66006;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 210%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
}

a:hover, a:active, i:hover, i:active{
    color: #e66006;
}

.container1 {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

header {
    background-color: rgb(51, 51, 51, 0.5);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding-top: 150px; /* Adjusted padding-top to account for the fixed header */
}

.slider {
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 33.33%;
    transition: transform 0.5s ease;
}

.slide img {
    width: 90%;
    height: 90%;
    display: block;
}

.video {
    margin-bottom: 20px;
    height: fit-content;
}

.models-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.model {
    flex-basis: calc(33.33% - 20px); /* Three models per row with 20px spacing between */
    margin-bottom: 20px;
}

.model img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #0a0a0a;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 8px;
    color: #fff;
  }

  .containerf {
    position: relative;
    z-index: 1;
    color: #fff;
}

.text-center {
    text-align: center;
    color: #fff;
  }

.social-icons {
    position: fixed;
    top: 50%; /* Adjust vertical position as needed */
    right: 0;
    transform: translateY(-50%); /* Center vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.social-icons a {
    margin-bottom: 10px;
    color: #fff;
}

.fab, .far {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .logoi {
    text-align: center; /* Center align image and button */
    margin-bottom: 20px; /* Add space between each item */
    flex: 0 0 calc(15% - 20px); /* Set width for each item (4 items per row) */
  }
  
  .logoi img {
    width: 100%; /* Ensure image fills its container */
    max-width: 100px; /* Limit image width */
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  a {
    text-decoration: none; /* Remove default underline */
    color: #0a0a0a; /* Set link color */
  }

  .donate-btn {
    background-color: #0a0a0a;
    text-align: center;
    justify-content: center;
    color: #edf2f7;
    padding: 1rem 1.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

    .donate-btn:hover {
        background-color: #f8f8fa;
        color: #0a0a0a;
        border: #070708 1px solid;
    }

/* Display social icons horizontally on small screens */
@media screen and (max-width: 768px) {
    .social-icons {
        margin-top: 330px;
        flex-direction: row; /* Display icons horizontally */
        justify-content: center; /* Align icons to the center */
        position: relativ; /* Change position to relative */
    }

    .logoi {
        flex: 0 0 calc(50% - 20px); /* Set width for each item (2 items per row) */
      }
    
}
