/* Reset CSS */
.container1 {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(253, 253, 253, 0.15);
    color: #fffcfc;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Set header position to fixed */
    width: 100%; /* Set header width to full */
    top: 0; /* Place header at the top of the viewport */
    z-index: 1000; /* Ensure header stays on top of other content */
}

header h1 {
    margin: 0;
    width: 30%;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fdfbfb;
    text-decoration: none;
}


body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1090%;
    color: rgb(201, 144, 22);
}

h2 {
    font-size: 210%;
    color: #fff;
    margin-bottom: 10px;
}

p {
    font-size: 120%;
    color: aliceblue;
}




body {
    background-image: url('images/ab24.png'); /* Set background image for the entire page */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
}

.main-content {
    color: #333;
    padding: 100px 0;
}

.main-content .container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text {
    margin-right: 20px;
    width: 20%;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icons a {
    margin-bottom: 10px;
    color: #fff;
    
}

.fab {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
