/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1090%;
    color: rgb(201, 144, 22);
}

h2 {
    font-size: 210%;
    color: #fff;
    margin-bottom: 10px;
}

p {
    font-size: 120%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: transparent;
    color: #fff;
    padding: 20px 0;
    
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    background-image: url('images/img3.jpg'); /* Set background image for the entire page */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    color: #333;
    padding: 100px 0;
}

.main-content .container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text {
    margin-right: 20px;
    width: 20%;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icons a {
    margin-bottom: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
